<footer class="footer">
    <div class="column">
        <h2>Enlaces</h2>
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </div>
    <div class="column">
        <h2>Contacto</h2>
        <p>Correo: storeok@gmail.com</p>
        <p>Teléfono: (3834) 456-7890</p>
    </div>
    <div class="column">
        <h2>Redes Sociales</h2>
        <ul>
            <li><a href="#"><img src="/img/facebook.svg" width="20" >Facebook</a></li>
            <li><a href="#"><img src="/img/twitter.svg" width="20" >Twitter</a></li>
            <li><a href="#"><img src="/img/instagram.svg" width="20" >Instagram</a></li>
        </ul>
    </div>
</footer>