<header>
    <div class="logo">
        <img src="/img/logo.png" width="100px" alt="Logo de la empresa">
    </div>
    <div  class="container-search">
        <input type="search" name="texto"  class="buscar"  placeholder="Ingese el producto a buscar">
        <button >
            <img src="/img/lupa.svg" width="30px">
        </button>

    </div>
    <div class="user-session">
        <p>Bienvenido, Usuario</p>
        
    </div>
</header>