<nav class="menu">
    <ul>
        <li><a href="#">Arma tu PC!</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/nosotros">Sobre Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
    <ul >
        <li ><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li ><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/carrito">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
    </ul>
</nav>
<div class="burger-menu">
    <i class="fa fa-bars burger"></i>
</div>