<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ª, initial-scale=1.0">
    <title>BienesRaices</title>
    <link href="https://fonts.googleapis.com/css2? family = Lato: wght @ 300; 400; 700; 900 & family = Open + Sans & family = Roboto & display = swap " rel=" stylesheet ">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.CSS">
</head>

<body>
    <%- include('./partials/header') %>
        <%- include('./partials/nav') %>

    <h1 class="fw-300 centrar-texto">Contacto</h1>
    

    <main class="contenedor seccion contenido-centrado">
        <h2 class="fw-300 centrar-texto">Llena el formulario de contacto</h2>

        <form class="contacto" action="">
            <fieldset>
                
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Tu Nombre">

                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="Tu Correo electronico" required>

                <label for="telefono">Telefono:</label>
                <input type="tel" id="telefono" placeholder="Tu Telefono" required>

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje"></textarea>

            </fieldset>
           
            <div class="agregar">
            <input type="submit" value="Enviar" class="boton boton-verde">
            </div>




        </form>
    </main>

    <%- include('./partials/foother') %>
</body>

</html>