<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/img/logoChico.png" type="png">
    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>
    <main>
        <section class="banner">
            <img src="/img/banner.png" alt="Banner de ofertas">
        </section>

        <section class="last-visit">
            <h3>Destacado</h3>
            <div class="products">
                <article>
                    <img src="/img/notebookCeleron.webp" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>                        
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/notebookI3.webp" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/pcgamer.webp" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/pcgamer1.webp" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Elegi tu equipo ideal</h3>
            <div class="products">
                <article>
                    <img src="/img/monitor24.webp" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/monitor27.webp" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/router.webp" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/tablet.webp" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>  
        </section>

    </main>
    <%- include('./partials/foother') %>
    
</body>
</html>